.form-control{
    background-color: #373737;
    border: 0px solid;
    height: 50px;
    width: 100%;
    color: #e4e8d9;
}
#divsignup{
    background-color: #4D4D4D;
    border: 0px;
}
.panel-heading{
    background-color: #373737;
    color:#e4e8d9 ;
}

#btn1{
    background-color: #32cf2c;
}